@font-face{
    font-family: "sansCondensed";
    src: url("../assets/fonts/EncodeSansCondensed-Bold.ttf");
}
@font-face{
    font-family: "amble" ;
    src: url("../assets/fonts/Amble-Regular.ttf");
}