.claseHeader{
    &__tituloGeneral{
        display: flex;
    }
    &__logo{
        height: 55px;
        width: 55px;
        margin-left: 10px;
        margin-right:10px;
    }
    &__contenido{
        justify-content: space-evenly;
    }
}
