/*Galeria css*/
#galeria{
    background: rgb(172, 32, 32);
    background: linear-gradient(90deg, rgb(172, 32, 32) 1%, rgb(0, 48, 73) 37%);
    h1{
        @include fuente-titulos;
    }
    p{
        @include texto-articulo;
    }
    img{
        width: 100%;
        height: 250px;
    }
    
    .col-lg-4{
        padding: 25px;
        margin: 0 !important;
    }
    img:hover{
        border: 5px solid #f7f7f7;
    }
}
 