/*Estilos de partidos*/
.partidos{
    
    &__fila1{
        max-width: 1310px;
        background: rgb(172,32,32);
        background: linear-gradient(90deg, rgba(172,32,32,1) 1%, rgba(0,48,73,1) 37%);
       }
    h1{
        @include fuente-titulos
       }
    &__iconoEquipo{
        width: 30px;
        height: 30px;
    }
    thead{
        font-family: "sansCondensed";
    }
    tbody{
        font-family: "amble";
    }
    &__fila2{
        background: rgb(172,32,32);
        background: linear-gradient(90deg, rgba(172,32,32,1) 1%, rgba(0,48,73,1) 37%);

    }
}
/*estilos de los escudos de los partidos*/
@each $escudo-equipos in defensa, banfield, instituto, fortaleza, barracas, colon, palestino, centralCordoba, estudiantes, merida, rosario, racing, river, belgrano, argentinos, tigre{
.#{$escudo-equipos}{
    width: 30px;
    height: 30px;
}
}